@import "tailwindcss";

.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #474af0;
  z-index: 0;
  transition: 0.5s;
}

.service-card:hover::before {
  left: 0;
}

.service-card:hover h3,
.service-card:hover p {
  color: #fff;
}
.active {
  background-color: black;
  color: white;
  border-radius: 1.5rem;
  transition: all 300  ;
}